.reusable-react {
    &.accordion {
        label {
            cursor: pointer;
            text-decoration: underline;
            &:before {
                display: inline-block;
                content: "\25b6";
                margin-right: 10px;
                font-size: 0.8em;
                transition: transform 0.3s ease;
            }
            &.open {
                &:before {
                    transform: rotate(90deg);
                }
            }
        }
        .children {
            max-height: 0;
            overflow: hidden;
            opacity: 0;
            transition: all 0.3s ease;
            &.open {
                opacity: 1;
                max-height: 100vh;
            }
        }
    }
}