@import "src/variable.scss";

section {
    padding: 0.8em;
    margin: 0.8em;
    border-radius: 0.8em;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border: 1px solid white;
    background: white;
    h2 {
        color: $dark-gray;
    }
    .pre-wrapper {
        .hljs {
            padding: 2em 1em;
            border-radius: 0.8em;
        }
    }
}