@import "../../web/reusable-react.css";
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(5deg, #e8bf6a 30%, lightblue 90%);

    .root {
        display: flex;
        .main-container {
            width: 85%;
            overflow: auto;
            height: 100vh;
        }
    }
}