@import "../../web/reusable-react.css";
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(5deg, #e8bf6a 20%, #232323 80%);
    .root {
        display: flex;
        .main-container {
            width: 85%;
        }
    }
}